<!DOCTYPE html>
<html>
<head>

		 	

	<script type="text/javascript"  src="js/lib/jquery-min.js"></script>
	<script type="text/javascript"  src="js/lib/underscore-min.js"></script>








	

	<script type="text/javascript"  src="js/lib/backbone.js"></script>

	<script type="text/javascript" src="js/routers/approuter.js"></script>
	<script type="text/javascript"  src="js/lib/bootstrap.min.js"></script>
	<script type"text/javascript" src="js/models/bookitem.js"></script>
	<script type="text/javascript" src="js/views/bookitemform.js"></script>
	<script type="text/javascript" src="js/views/searchbookview.js"></script>
	<script type="text/javascript" src="js/views/bookitemview.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	

	<link href="css/bootstrap.css" rel="stylesheet">

	
	<script type="text/javascript">

	</script>
</head>
<body>

	<script type="text/template" id="addbook_template">
	<form class="form-horizontal"  id="add_book" method="post" action="#">
	<legend>Add Book</legend>
	<!-- book name-->
	<div class="control-group">
	<label class="control-label" for="addbokinputBookName"><b>Book Name</b></label>
	<div class="controls">

	<input type="text" class="input-medium" id="addbook_book_name" placeholder="Book Name">

	</div>

	</div>

	<div class="control-group">
	<label class="control-label" for="inputAuthorName"><b>Author Name</b></label>
	<div class="controls">

	<input type="text" class="input-medium" id="addbook_author_name" placeholder="Author">

	</div>

	</div>

	<div class="control-group">
	<label class="control-label" for="inputStatus"><b>Read Status</b></label>
	<div class="controls">

	<select class="addbook_status" >
	<option selected="selected">Choose Read status</option>
	<option value="YES">YES</option>
	<option value="NO">No</option>
	<option value="Reading">Reading</option>
	</select>

	</div>

	</div>

	

	<div class="control-group">

	<div class="controls">
	<button type="submit" id="addbook_button" class="btn">Save</button>

	</div>

	</div>
	 <input type="reset" id="addbook_reset" style="display:none">
	</form>
	</script>
	<script type="text/template" id="searchbook_template">

	<form class="form-search" id="searchbook">
	<input type="text" class="input-medium search-query" id="searchBook_book_name">

	<button type="button"  id="booksearch_submit" class="btn">Search</button>
	</form>
	</script> 

	 <!-- end of search book template -->
<script type="text/template" id="bookitem_template">
	<p><%= book_name %><p>
	<a href="#edit/<%= id %>" class="btn">Edit</a>
	<a href="#delete/<%= id %>" class="btn">Delete</a>
	<p style="display:none"><% id %></p>
</script>

	<h1>Welcome to Shelfari 1.0 </h1>
	<div class="container">
		

		<ul class="nav nav-pills">
			<li><a href="#">Home</a></li>
			<li><a href="#menu-item/addbook">Add Book</a></li>
			<li><a href="#menu-item/searchbook">Search Book</a></li>
		</ul>
	</div>
	<!-- <div class="container2">
		

		<ul class="nav nav-tabs nav-stacked">
			<li><a href="#">Home</a></li>
			<li><a href="#/menu-item/addbook">Add Book</a></li>
			<li><a href="#/menu-item/searchbook">Search Book</a></li>
		</ul>
	</div> -->

	<div class="container bs-docs-example" id="app">


	</div>




</body>
</html>